{% extends "dashboard/base.html" %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
{% with section='properties' %}

<h2 style="font-size:1.5rem;font-weight:600;margin-bottom:24px;">{{ title }}</h2>

<form method="post" class="db-form">
  {% csrf_token %}
  {{ form.as_p }}
  
  <div style="margin-top:24px;">
    <button type="submit" class="btn btn-accent">Enregistrer</button>
    <a href="{% url 'dashboard:season_list' %}" class="btn btn-outline">Annuler</a>
  </div>
</form>

{% endwith %}
{% endblock %}
